<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>wi_welcome</name>
	<displayName><![CDATA[Webimpacto Welcome Message]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Shows a welcome message to your customers.]]></description>
	<author><![CDATA[Jesús Abades]]></author>
	<tab><![CDATA[administration]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
